.content{
    border: 1px solid black;
    margin: 10px;
    height: max-content;
}
.content h3{
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
}
.collection-result{
    width: 100%;
    display: flex;
}
.div-results{
    width: 400px;
    height: max-content;
    margin: auto;
}
.result-img{
    text-align: center;
}
.result-name{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content{
        display: block;
        margin: 10px;
    }
    .content-introduce, .content-trend{
        margin: 0;
        margin-top: 10px;
        height: max-content;
        width: auto;
    }
    .footer .footer-author{
        display: block;
    }
    .footer .footer-author p{
        margin: 5px;   
    }
    .collection-result{
        display: block;
    }
  }
 
  @media screen and (max-width: 768px) {
    .topnav.responsive {
        display: block;
        height: max-content;
    }
    .topnav.responsive .topnav-tag {
        margin: auto;    
    }
    .topnav.responsive .topnav-links {
      display: block;
      text-align: center;
      background-color: #159912;
      margin: 5px 0;
      border: 1px solid black;
    }
    .topnav.responsive .topnav-links :hover{
        background-color: #206116;
    }
    .topnav.responsive .topnav-search{
        display: block;
        margin: 15px 0;
    }
    .topnav.responsive .topnav-search input{
        height: 20px;
    }
  }
  