.content{
    display: flex;
}
.content-introduce{
    text-align: justify;
    border: 1px solid gray;
    width: 50%;
    margin: 14px;
    margin-right: 7px;
    padding: 10px;
}
.content-introduce h3{
    text-align: center;
    font-size: 22px;
}
.content-introduce p{
    margin: 15px;
    text-indent: 15px; 
}
.content-introduce ul{
    margin: 15px;
    text-indent: 15px; 
}
.content-introduce li{
    margin: 15px;
    list-style-type: none;
    text-indent: 25px;    
}
.content-trend{
    text-align: center;
    border: 1px solid gray;
    width: 50%;
    margin: 14px;
    margin-left: 7px;
    padding: 10px;
    height: max-content;
}
.content-trend h3{
    text-align: center;
    font-size: 22px;
}
.card{
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 25px;
    background-position: center;
    background-size: cover;
    border: 0.3px solid rgb(211, 200, 200);
    transition: transform 0.5s;
}
.card p{
    color: #fff;
    background-color: black;
    margin-top: 85%;
    text-align: center;   
}

.card1{
    background-image: url(img/caheohong.jpg);
}

.card2{
    background-image: url(img/ngua.jpeg);
}

.card3{
    background-image: url(img/coptrang.png);
}

.card4{
    background-image: url(img/chim-khuyen-5-min.jpg);
}

.card:hover{
    transform: translateY(-10px);
}
.footer{
    background-color: #206116;
    color: white;
    font-size: 17px;
    text-align: center;
}
.footer .footer-author{
    display: flex;
    margin: auto;    
}
.footer .footer-author p{
    margin: 20px auto;   
}


@media screen and (max-width: 768px) {
    .content{
        display: block;
        margin: 10px;
    }
    .content-introduce, .content-trend{
        margin: 0;
        margin-top: 10px;
        height: max-content;
        width: auto;
    }
}
  