.content{    
    height: max-content;
}
.content h3{
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
}
.content-search, .search-result{
    border: 1px solid black;
    margin: 10px;
}
.content-search-bar{
    margin: auto;
    text-align: center;
    background-color: #159912;
    border-radius: 50px;
    height: 30px;
    width: 30%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid black;
}
.content-search-bar input{
    background-color: #159912;
    color: #fff;
    font-size: 20px;
    border: none;
    width: 85%;
}

.content-search-bar i{
    font-size: 25px;
    color: white;
    padding: 2px
}
.content-search-select{
    margin: 15px auto;
    width: max-content;
}
.content-search-select select{
    height: 30px;
    width: 120px;
    margin: 0 20px;
    background-color: #159912;
    color: white;
}
.content-search-submit{
    width: max-content;
    margin: auto;
}
button{
    height: 40px;
    width: 120px;
    font-size: 22px;
    background-color: #159912;
    color: white;
    margin-bottom: 10px;
    border: 1px solid black;
}
button:hover{
    color: aqua;
    background-color: #206116;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .content-search-select select{
        display: block;
        margin: 10px;
        width: 200px;
    }
}