@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
a{
    text-decoration: none;
}
.topnav{
    background-color: #206116;
    overflow: hidden;
    display: flex;
    margin: auto;
    text-align: center;
}
.topnav-tag{
    display: flex;
    margin: auto;    
}
.topnav-icon{
    right: 35px;
    position: absolute;
    margin: auto;
    font-size: 30px;
    display: none;
}
.topnav-icon i{
    color: white;
}
.topnav-icon i:hover{
    color: aqua;
}
.topnav-logo {  
    margin: auto;  
    text-align: center;
}
.topnav-logo img{
    width: 70%;
    height: 80px;
}
.topnav-title{
    margin: auto;
    width: max-content;
}
.topnav-title a{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.topnav-links{
    margin: auto 0;
    text-align: right;
}
.topnav-links a{
    width: max-content;
    font-weight: 600;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
a:hover{
    color: aqua;
    border-bottom: 1px solid aqua ;
    transition: 0.5s ease-in-out;
}

.topnav-search{
    margin: auto;
    text-align: center;
    margin-right: 50px;
    background-color: #159912;
    border-radius: 50px;
    height: 30px;
    width: max-content;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid white;
}
.topnav-search input{
    background-color: #159912;
    color: #fff;
    font-size: 20px;
    border: none;
    width: 85%;
}
.topnav-search i{
    font-size: 25px;
    color: white;
    padding: 2px;
    cursor: pointer;
}

::placeholder{
    color: #fff;
    font-size: 18px;}

.footer{
    background-color: #206116;
    color: white;
    font-size: 17px;
    text-align: center;
}
.footer .footer-author{
    display: flex;
    margin: auto;    
}
.footer .footer-author p{
    margin: 20px auto;   
}

@media screen and (max-width: 768px) {
    .topnav{
        height: 70px;
        margin: auto;
        text-align: center;
    }
    .topnav-logo{
        position: absolute;
        left: 30px;
        top: 0;
    }
    .topnav-logo img{
        width: 50px;
        height: 70px;
    }

    .topnav-links{
        display: none;
    }
    .topnav-search{
        display: none;
    }
    .topnav-icon{
        display: block;
    }
    .content{
        display: block;
        margin: 10px;
    }
    .content-introduce, .content-trend{
        margin: 0;
        margin-top: 10px;
        height: max-content;
        width: auto;
    }
    .footer .footer-author{
        display: block;
    }
    .footer .footer-author p{
        margin: 5px;   
    }
  }
  @media screen and (max-width: 768px) {
    .topnav.responsive {
        display: block;
        height: max-content;
    }
    .topnav.responsive .topnav-tag {
        margin: auto;
        height: 70px;    
    }
    .topnav.responsive .topnav-icon{
        padding: 19px 5px;
    }
    .topnav.responsive .topnav-links {
      display: block;
      text-align: center;
      padding: 10px;
      background-color: #159912;
      border: 1px solid black;
    }
    .topnav.responsive .topnav-links a{
        margin: auto 20px;
        width: max-content;
    }
    .topnav.responsive .topnav-links a:hover{
        background-color: #206116;
    }
    .topnav.responsive .topnav-search{
        display: block;
        margin: 15px auto;
    }
    .topnav.responsive .topnav-search input{
        height: 20px;
    }
  }
  