:root{
  --primary-color: green;
} 

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}

body{
  background-color: #207335;
  height: 100vh;
}

.container{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}


/*START NAVBAR*/
.navbar{
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 2rem;
  box-shadow: 0rem 0rem 0.8rem rgba(0, 0, 0, 0.5);
}
.logo{
  width: 100px;
}
.links{
  border: 1px solid red;
}
ul li{
  list-style: none;
  display: inline-block;
}

ul li a{
  text-decoration: none;
  margin-left: 2rem;
  color: black;
  position: relative;
}
[class*="col"] {
  width: 100%;
}

.name{
  color: #207335;
  font-size: 25px;
}

input{
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background: var(--primary-color);
  border-radius: 50px;
  height: 50px;
  width: 300px;
}

input::placeholder{
  color: white;
  font-size: 15px;
}

.active{
  color: var(--primary-color);
  font-size: 20px;
  text-align: left;
}

a::after{
  content: '';
  display: block;
  width: 0%;
  height: 0.2rem;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  margin-top: 0.2rem;
  transition: 0.3s ease-in-out;
  }

.active:hover::after{
  width: 100%;
}
.name:hover::after{
  width: 100%;
}
/*END NAVBAR*/


/*START CONTENT*/
.row{
    display: flex;
    height: 88%;
    align-items: center;
    padding-left: 12%;
    padding-right: 8%;
}

.col{
    flex-basis: 50%;
}

h1{
    font-size: 100px;
    color: white;
}

p{
    color: white;
    font-size: 12px;
    line-height: 15px;
}


.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    border: 0.3px solid rgb(211, 200, 200);
    transition: transform 0.5s;
}

.card1{
    background-image: url(img/caheohong.jpg);
}

.card2{
    background-image: url(img/ngua.jpeg);
}

.card3{
    background-image: url(img/coptrang.png);
}

.card4{
    background-image: url(img/chim-khuyen-5-min.jpg);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: white;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
/*END CONTENT*/



/*START FOOTER*/
.footer{
  background: #181a1a;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 20px;
  color: white;
  font-weight: 400;
}

.footer-start{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-start h4{
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-start p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-start p:hover{
  color: green;
  }



/*.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}*/

/*.socials li{
  margin: 0 5px;
}


.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: green;
}*/

.footer-end{
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-end{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
/*END FOOTER*/












