*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 15%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

a:hover{
    color: violet;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    font-size: 70px;
    color: white;
}

p{
    color: white;
    font-size: 12px;
    line-height: 15px;
}


.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    border: 0.3px solid rgb(211, 200, 200);
    transition: transform 0.5s;
}

.card1{
    background-image: url(img/caheohong.jpg);
}

.card2{
    background-image: url(img/ngua.jpeg);
}

.card3{
    background-image: url(img/coptrang.png);
}

.card4{
    background-image: url(img/chim-khuyen-5-min.jpg);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: white;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

